{{if .Flash.ErrorMsg}}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  {{if .FlashTitle}}<h4><i class="icon fa fa-ban"></i> {{.FlashTitle}}</h4>{{end}}
  {{.Flash.ErrorMsg}}
</div>
{{end}}