			</div><!-- .content-wrapper -->

			<footer class="main-footer">
		    <div class="pull-right hidden-xs">
		      <b>Version</b> {{AppVer}}
		    </div>
		    <strong>Copyright © 2016 <a href="https://github.com/Unknwon">Unknwon</a>.</strong> All rights
		    reserved.
		  </footer>
		</div>

		<script src="/js/jquery-1.12.0.min.js"></script>
		<script src="/assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>
		<script src="/assets/AdminLTE-2.3.2/js/app.min.js"></script>
	</body>
</html>