{{template "base/head" .}}
<section class="content-header">
	<h1>
	  <i class="fa fa-gg"></i> Build Tasks
	</h1>
</section>
<section class="content">
	<div class="row">
	  <div class="col-xs-12">
	    <div class="box">
	      <div class="box-header">
	        <h3 class="box-title">Build Tasks</h3>
	        <div class="box-tools">
	        	<a class="btn btn-primary btn-sm" href="/tasks/new">New Task</a>
          </div>
	      </div>
	      <div class="box-body table-responsive no-padding">
	        <table class="table table-hover">
	          <tbody>
		          <tr>
		            <th>ID</th>
		            <th>OS</th>
		            <th>Arch</th>
		            <th>Tags</th>
		            <th class="hidden-xs">Commit</th>
		            <th>Status</th>
		          </tr>
		          {{range .Tasks}}
			          <tr>
			            <td><a href="/tasks/{{.ID}}">{{.ID}}</a></td>
			            <td>{{.OS}}</td>
			            <td>{{.Arch}}</td>
			            <td>{{if .Tags}}{{.Tags}}{{else}}{no tag}{{end}}</td>
			            <td class="hidden-xs">{{.Commit}}</td>
			            <td>{{.Status.ToString}}</td>
			          </tr>
		          {{end}}
	        	</tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	</div>
</section>
{{template "base/footer" .}}