{{template "base/head" .}}
<section class="content-header">
	<h1>
	  <i class="fa fa-dashboard"></i> Dashboard
	</h1>
</section>
<section class="content">
	<div class="row">
    <div class="col-lg-3 col-xs-4">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{.NumBuilders}}</h3>

          <p>Builders</p>
        </div>
        <div class="icon">
          <i class="fa fa-steam"></i>
        </div>
        <a href="/builders" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-4">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{.NumTasks}}</h3>

          <p>Build Tasks</p>
        </div>
        <div class="icon">
          <i class="fa fa-gg"></i>
        </div>
        <a href="/tasks" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
	</div>
</section>
{{template "base/footer" .}}